<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <form action="datos" id="formulario" method="post">
            <label for=""></label>DNI<input type="text" name="dni" id="dni"><br>
            <label for=""></label>Nombre<input type="text" name="nombre" id="nombre"><br>
            <label for=""></label>Apellidos<input type="text" name="apellido" id="apellido"><br>
            <label for=""></label>Fecha de nacimiento<input type="date" name="fecha" id="fecha"><br>
            <label for=""></label>Email<input type="text" name="email" id="email"><br>
            <label for=""></label>Web Personal<input type="text" name="web" id="web"><br>
            <label for=""></label>Password<input type="password" name="pass" id="pass"><br>
            <input type="submit" value="enviar" id="submit">
        </form>
    </fieldset>
    <script src="./../assets/js/javascript.js"></script>
</body>
</html>